*.log
*.pot
*.pyc

__pycache__/
core/db.sqlite3
core/Events/static/event_images/*
core/Events/static/user_images/*
core/Events/static/user_qr_images/*
core/Events/migrations/*

!core/Events/migrations/__init__.py
!core/Events/migrations/0001_initial.py
!core/Events/migrations/0002_auto_20240515_1139.py

database
pgdata
DB_USERS.txt
