<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/base_style.css" %}" />
    
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
<div class="header">
    <a href="{% url 'home' %}" class="logo_a">
        <img src="{% static "images/logo.png" %}" alt="logo">
        <p>IT-KOPATYCHI</p>
    </a>
    {% if user.is_authenticated %}
        <a href="{% url 'me' %}" class="lk_a"><p>ЛИЧНЫЙ КАБИНЕТ</p></a>
    {% else %}
        <a href="{% url 'login' %}" class="lk_a"><p>ВОЙТИ</p></a>
    {% endif %}
</div>
<!--    <h1>{% block header %}{% endblock header %}</h1>-->
<div class="content">{% block content%}{% endblock content %}</div>

<div class="footer">
    <p>IT-KOPATYCHI 2024</p>
</div>
</body>
