{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "css/login_style.css" %}" />


<div class="form_div">
    <div class="top_text">
        <p>Смена пароля</p>
    </div>
    <div class="form_label">
        <form class="form-login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сменить пароль</button>
        </form>
    </div>
</div>

{% endblock %}
